{% extends "::base.html.twig" %}
    {% block stylesheets %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/login/util.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/login/main.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/vendor/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/fonts/iconic/css/material-design-iconic-font.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/vendor/animate/animate.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/vendor/css-hamburgers/hamburgers.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/vendor/animsition/css/animsition.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/vendor/select2/select2.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/vendor/daterangepicker/daterangepicker.css') }}">
		<link rel="icon" type="image/x-icon" href="/rdn.ico"/>
    {% endblock %}

    {% block body %}
        <div>
            {% block login_content %}
            {% endblock login_content %}
        </div>
    {% endblock body %}
    
    {% block javascripts %}
			<script src="{{ asset('bundles/app/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
			<script src="{{ asset('bundles/app/vendor/animsition/js/animsition.min.js') }}"></script>
			<script src="{{ asset('bundles/app/vendor/bootstrap/js/popper.js') }}"></script>
			<script src="{{ asset('bundles/app/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('bundles/app/vendor/select2/select2.min.js') }}"></script>
			<script src="{{ asset('bundles/app/vendor/daterangepicker/moment.min.js') }}"></script>
			<script src="{{ asset('bundles/app/vendor/daterangepicker/daterangepicker.js') }}"></script>
			<script src="{{ asset('bundles/app/vendor/countdowntime/countdowntime.js') }}"></script>
            <script src="{{ asset('bundles/app/js/login/main.js') }}"></script>
    {% endblock %}